.svg-data-container {
  margin-left: 20px; 
  border: 1.5px solid var(--shadow);
  border-radius: 8px; 
  background-color: var(--white); 
  width: 40vw;
  height: 50vh;
  padding: 30px;
  overflow-y: auto;
  position: fixed;
}

.data-container {
  margin-left: 47vw; 
  width: 20vw;
  height: 50vh;
  padding: 20px;
  border: 1.5px solid var(--shadow);
  border-radius: 8px; 
  background-color: var(--white); 
  overflow-y: auto;
  position: fixed;
}